<div class='row'>
  <div class="col-md-6">
    <%= form_for(@user, url: images_path, method: :post, html: { multipart: true }) do |f| %>
        <div id="images">
          <%= f.fields_for :images do |image| %>
            <%= render 'image_fields', f: image %>
          <%end%>
        </div>
        <div class="links">
          <%= link_to_add_association 'Add New Image', f, :images %>
        </div>
        <%= f.submit %>
    <%end%>
  </div>
  <div class="col-md-6">
    <div class="map" id="map"
             style="height: 650px"
             data-latitude="-34.397"
             data-longitude="150.644">
    </div>
  </div>
</div>
<script>
$(function() {
    var newImage;
    newImage = new PhotoBook.Views.NewImage($('#map'));
});
</script>